{%- extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="jumbotron">
      <h1 class="main-title">Sample Page</h1>
      <p class="red-text">This is a sample page. You can duplicate this file and make your own pages.</p>
      <img src="https://resources.stuff.co.nz/content/dam/images/1/i/o/a/a/c/image.related.StuffLandscapeSixteenByNine.620x349.1ioalf.png/1492902717643.jpg"
        class="image1">
      <img src="https://resources.stuff.co.nz/content/dam/images/1/i/o/a/a/c/image.related.StuffLandscapeSixteenByNine.620x349.1ioalf.png/1492902717643.jpg"
        class="image2"><br />
      <img src="https://resources.stuff.co.nz/content/dam/images/1/i/o/a/a/c/image.related.StuffLandscapeSixteenByNine.620x349.1ioalf.png/1492902717643.jpg"
           class="image3"><br />
    </div>
   </div>

{%- endblock %}